<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">IG Home</a>
  </li>
  <li>
    <a href="toc.html">Table of Contents</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="http://hl7.org/about/davinci">Da Vinci Overview</a>
      </li>
      <li>
        <a href="davinci-guiding-principles.html">Guiding Principles</a>
      </li>
      <li>
        <a href="fhir.html">FHIR Introduction</a>
      </li>
      <li>
        <a href="exchanging.html">Approaches to Exchanging FHIR Data</a>
      </li>
      <li>
        <a href="validation.html">Managing Instance Validation</a>
      </li>
      <li>
        <a href="credits.html">Participants and Credits</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="conformance.html">Conformance Expectations</a>
      </li>
      <li>
        <a href="security.html">Security and Privacy</a>
      </li>
      <li>
        <a href="task.html">Task-based queries</a>
      </li>
      <li>
        <a href="smart-app-reg.html">Dynamic Registration for SMART Apps</a>
      </li>
      <li>
        <a href="goodpractice.html">IG Practices</a>
      </li>
      <li>
        <a href="profiles.html">Profile overview</a>
      </li>
      <li>
        <a href="searchparameters.html">Search Parameters overview</a>
      </li>
      <li>
        <a href="OperationDefinition-member-match.html">Member resolution</a>
      </li>
      <li>
        <a href="endpoint-discovery.html">Payer Endpoint Discovery Strategy</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Artifacts<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html">HRex Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore3}}/artifacts.html">US Core 3.1 (FHIR R4) Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore6}}/artifacts.html">US Core 6.1 (FHIR R4) Artifacts</a>
      </li>
      <li>
        <a href="{{site.data.fhir.ver.uscore7}}/artifacts.html">US Core 7.0 (FHIR R4) Artifacts</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Base Specs<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR R4 Spec</a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.ver.uscore3}}">US Core 3.1.1</a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.ver.uscore6}}">US Core 6.1.0</a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.fhir.ver.uscore7}}">US Core 7.0.0</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="https://chat.fhir.org/#narrow/stream/433432-Da-Vinci-HRex">HRex discussion &amp; support</a>
      </li>
      <li>
        <a href="https://confluence.hl7.org/pages/viewpage.action?pageId=40741996">HRex Project Home</a>
      </li>
      <li>
        <a href="https://jira.hl7.org/secure/Dashboard.jspa?selectPageId=17208">Issue Dashboard</a>
      </li>
      <li>
        <a href="http://hl7.org/fhir-issues">Propose a change</a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <li>
        <a href="tools.html">Tooling and Support</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="history.html">Change History</a>
  </li>
</ul>
